import { NgModule } from '@angular/core';
import { CommonModule } from '@angular/common';
import { RouterModule, Routes } from '@angular/router';
import { <%= classify(name) %>Component } from './<%= dasherize(name) %>.component';

const routes: Routes = [{ path: '', component: <%= classify(name) %>Component }];

@NgModule({
  imports: [RouterModule.forChild(routes), CommonModule],
  declarations: [],
})
export class <%= classify(name) %>Routes {}
